.centerc {
    display: flex;
    align-items: center;
}
.submit {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.element {
    margin: 3em;
}
